#### The map() Function in Python
- The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [4]:
def square(x):
    return x **2
square(4)

16

In [7]:
numbers = [1,2,3,4,5,6,7,8]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [8]:
### lambda function with map
numbers =[1,2,3,4,5,6,7,8]
list(map(lambda x : x**2 ,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [9]:
### map muliple iterables
numbers1 =[1,2,3]
numbers2 =[4,5,6]
added_numbers =list(map(lambda x,y : x + y ,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [10]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [11]:
words = ["apple","banana","cherry"]
upper_word =list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [15]:
def get_name(person):
    return person["name"]

people =[
    { "name" : "krish" ,"age" : 32},
    {"name":"jack","age":38}

]
list(map(get_name,people))

['krish', 'jack']