#### Variables
- Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [2]:
a = 100

In [3]:
## Declaring And assigning Variable
age = 32
height =6.1
name ="krish"
is_student = True

## Printiting the variable
print("age :",age)
print("hieght :",height)
print("name :",name)

age : 32
hieght : 6.1
name : krish

In [4]:
## Namung Conventions
## VAriable names should be descriptive
## They must start with a letter or an "_" and contains letter,numvers and underscores
## Variable names case sensitive

first_name ="Avinash"
last_name ="singh"

In [5]:
## Invalid variable names
#  2age  = 30
#  first-name ="krish"
#  @name ="avi"

In [6]:
## Case sensitivity
name ="Avinash"
Name ="Avinash"

In [7]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [8]:
## Type Checking and Conversion

type(height)

float

In [9]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [10]:
age='25'
print(type(int(age)))

<class 'int'>

In [11]:
name="Krish"
int(name)

ValueError: invalid literal for int() with base 10: 'Krish'

In [12]:
height=5.11
type(height)

float

In [13]:
float(int(height))

5.0

In [14]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [15]:
## input

age=int(input("What is the age"))
print(age,type(age))

12 <class 'int'>

In [16]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 32.0
Difference: 14.0
Product: 207.0
Quotient: 2.5555555555555554