#### Introduction To Lists
- Lists are ordered, mutable collections of items.
- They can contain items of different data types.

In [1]:
List =[]
type(List)

list

In [2]:
names =["Avinash","jack""krish",1,2,3,4]
print(names)

['Avinash', 'jackkrish', 1, 2, 3, 4]

In [3]:
mixed_list = [1,"hello",3.14,True]
print(mixed_list)

[1, 'hello', 3.14, True]

##### Accesing the list

In [4]:
fruits=["apple","banana","cherry","kiwi","gauva"]

In [5]:
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[4])

apple
banana
cherry
kiwi
gauva

In [6]:
print(fruits[-1])

gauva

In [7]:
print(fruits[1:5])

['banana', 'cherry', 'kiwi', 'gauva']

In [8]:
print(fruits[1:3])

['banana', 'cherry']

In [9]:
print(fruits[-1:])
print(fruits[-1:])
print(fruits[-1:-4])  ## there is no such element

['gauva']
['gauva']
[]

##### modifying the List element

In [10]:
fruits[1] ="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [11]:
fruits[1:]='watermelon'
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

##### List method

In [12]:
fruits=["apple","banana","cherry","kiwi","gauva"]
fruits.append("orange") ## add an iteam to the end
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [13]:
fruits.insert(1,"banana")
print(fruits)

['apple', 'banana', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [14]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [15]:
fruits.remove("banana")  ## Removing the first occurance of an iteam
fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [16]:
## remove and return last
popped_fruits =fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva']

In [17]:
index= fruits.index("cherry")
index

3

In [18]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

2

In [19]:
print(fruits)

['apple', 'watermelon', 'banana', 'banana', 'cherry', 'kiwi', 'gauva']

In [20]:
fruits.sort()  ## this will sort the list into desc orderd
fruits

['apple', 'banana', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [21]:
fruits.reverse()  # reverse the list
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'banana', 'apple']

In [22]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

##### Slicing List

In [23]:
numbers =[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
numbers[::3]

[1, 4, 7, 10]

In [25]:
numbers[::2]

[1, 3, 5, 7, 9]

##### iterating over list

In [26]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [27]:
### iterating wit index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [28]:
lst =[]
for i in range(10):
    lst.append(i**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### List comprehension
- Basics Syantax [expression for item in iterable]
- with conditional logic [expression for item in iterable if condition]
- Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [30]:
### Basic list comprehnsion
square =[num** 2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
###  list comprehnsion with condition
lst =[]
for i in range(10):
    if i % 2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [32]:
even_num=[num for num in range(10) if num % 2==0]
print(even_num)

[0, 2, 4, 6, 8]

In [33]:
### Nested List comprehnsion
lst1= [1,2,3,4]
lst2 =["a","b","c","d"]
pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [34]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]