#### Introduction to Tuples
- Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## Creating a tuple
empty_tuple =()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst =list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
lst =list((1,2,3,4,5,6))
lst

[1, 2, 3, 4, 5, 6]

In [7]:
mixed_tuple = (1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

##### Accesiing The Tuple

In [9]:
numbers = tuple([1,2,3,4,5,6])
print(numbers[0])
print(numbers[1])
print(numbers[3])
print(numbers[-1])

1
2
4
6

In [10]:
numbers[0:4]

(1, 2, 3, 4)

In [11]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

##### Tuples Operation

In [14]:
concatenation_tuple= mixed_tuple + numbers
concatenation_tuple

(1, 'Hello World', 3.14, True, 1, 2, 3, 4, 5, 6)

In [15]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [16]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

##### Imutable natures of tuples
- Tuples are immutable, meaning their elements cannot be changed once assigned.

In [30]:
lst =[1,2,3,4,5]
print(lst)
lst[1] ="avi"   ## because list is mutable.
print(lst)

[1, 2, 3, 4, 5]
[1, 'avi', 3, 4, 5]

In [31]:
numbers[1]="Krish"   # it will not change, because tuples are immutable

TypeError: 'tuple' object does not support item assignment

##### Tuple Method

In [ ]:

numbers

(1, 2, 3, 4, 5, 6)

In [24]:
print(numbers.count(1))

1

In [25]:
print(numbers.index(3))

2

##### Packing and Unpacking tuple

In [27]:
# packing
packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [28]:
## unpacking a tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [29]:
## unpackin g with *
numbers =(1,2,3,4,5,6)
first,*middle,last =numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

##### Nested Tuple

In [35]:

lst =[[1,2,3,4],[5,6,7,8],[1,"hello",3.14,"c"]]  ## Nested list
lst[0]

[1, 2, 3, 4]

In [34]:
lst =[[1,2,3,4],[5,6,7,8],[1,"hello",3.14,"c"]]  ## Nested list
lst[0][2]

3

In [36]:
lst =[[1,2,3,4],[5,6,7,8],[1,"hello",3.14,"c"]]  ## Nested list
lst[0][0:3]

[1, 2, 3]

In [2]:
nested_tuple =((1,2,3,4),(5,6,7,8),(1,"hello",3.14,"c"))## Nested list
nested_tuple[0]

(1, 2, 3, 4)

In [40]:
nested_tuple =((1,2,3,4),(5,6,7,8),(1,"hello",3.14,"c"))## Nested list
nested_tuple[0][2]

3

In [44]:
nested_tuple =((1,2,3,4),(5,6,7,8),(1,"hello",3.14,"c"))  ## Nested list
nested_tuple[0][0:3]

(1, 2, 3)

In [46]:
nested_tuple[2][0:2]

(1, 'hello')

In [3]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3 4
5 6 7 8
1 hello 3.14 c