# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

















### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
post_no= (1,2,3,4,5,6,7,8,9,10)
print(post_no)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
first,*middle,last =post_no
print(f"first element = {first}")
print(f"last element = {middle}")
print(f"last element = {last}")

first element = 1
last element = [2, 3, 4, 5, 6, 7, 8, 9]
last element = 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [3]:
print(post_no[0:2])
print(post_no[::-1,3])
print(post_no[2:5])

(1, 2)

TypeError: tuple indices must be integers or slices, not tuple


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
matrix =((1,2,3),(4,5,6),(7,8,9))
for i in matrix:
    for j in i:
        print(j,end=" ")
    print()
print(f"2nd row and 3rd column = {matrix[1][2]}")

1 2 3
4 5 6
7 8 9
2nd row and 3rd column = 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [ ]:
A = (1,2,3)
B = (4,5,6)
concat = A + B
print(concat)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
new_tpl =(1,1,2,3,4,4,1,5,6,1)
count = new_tpl.count(1)
print(count)

print(new_tpl.index(1))

4
0

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
hmm = (1,2,3,4,5)
a,b,c,d,e = hmm
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
lst =list[1,2,3,4,5]
print(lst)
print(type(lst))
lst_To_tpl =tuple(lst)
print(lst_To_tpl)
print(type(lst_To_tpl))

list[1, 2, 3, 4, 5]
<class 'types.GenericAlias'>
(*list[1, 2, 3, 4, 5],)
<class 'tuple'>



### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
matrix =((1,2,3),(4,5,6),(7,8,9))
print(matrix[0])
print(matrix[1])
print(matrix[2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [ ]:
num1 = (11, 21, 31, 41, 51)
convert_num = list(num1)
convert_num.append(6)
print(f" list : convert_num")
tuple =tuple(convert_num)
print(ftuple)

[11, 21, 31, 41, 51, 6]
(11, 21, 31, 41, 51, 6)