#### SETS 
- Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [1]:
## Create a set
my_set ={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set =set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_empty_set =set([1,2,3,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [6]:
duplicate_element =set([1,2,3,4,6,7,7,7,6,5,6])
print(duplicate_element)

{1, 2, 3, 4, 5, 6, 7}

##### Basics sets operation

In [8]:
## Adding and removing element
my_set ={1,2,3,4,5}
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [10]:
my_set ={1,2,3,4,5}
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}

In [11]:
## remove the element
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [13]:
my_set.remove(10)
print(my_set)

KeyError: 10

In [14]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 7}

##### Pop method

In [15]:
remove_element =my_set.pop()
print(remove_element)
print(my_set)

1
{2, 4, 5, 7}

In [16]:
## clear all the element
my_set.clear()
print(my_set)

set()

##### set membership test

In [17]:
my_set ={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

##### mathematical operation

In [19]:
set1 ={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## union
union_set =set1.union(set2)
print(union_set)

## intersection

intersection_set = set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [20]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference 
print(set1.difference(set2))

{1, 2, 3}

In [22]:
set2.difference(set1)

{7, 8, 9}

In [24]:
## Symmetric Difference
set1.symmetric_difference(set2)    ## only unique element

{1, 2, 3, 7, 8, 9}

In [26]:
## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [27]:
lst =[1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [28]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'about', 'discussing', 'we', 'tutorial', 'this', 'sets', 'are', 'In'}
8