#### Introduction to Dictionaries
- Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

In [26]:
## Creating dictinaries
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [27]:
empty_dict =dict()
print(empty_dict)

{}

In [28]:
student = {"name":"Avinash","age":23,"grade": 23}
print(student)
print(type(student))

{'name': 'Avinash', 'age': 23, 'grade': 23}
<class 'dict'>

In [29]:
## Single key is always used
student = {"name":"Avinash","age":23,"name": 23}  ## value get replaced
print(student)

{'name': 23, 'age': 23}

##### Accessing Dict elements

In [42]:

student = {"name":"Avinash","age":23,"grade":"A"}
print(student)

{'name': 'Avinash', 'age': 23, 'grade': 'A'}

In [31]:
print(student["grade"])
print(student["age"])

A
23

##### Accessing using get() method

In [32]:
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

A
None
Not Available

##### Modifying Dicitonary Elements
- Dictionary are mutable,so you can add, update or delete elements

In [43]:
print(student)

{'name': 'Avinash', 'age': 23, 'grade': 'A'}

In [44]:
student["age"] =33 ##update value for the key
print(student)
student["address"] ="India"  ## added a new key and value
print(student)

{'name': 'Avinash', 'age': 33, 'grade': 'A'}
{'name': 'Avinash', 'age': 33, 'grade': 'A', 'address': 'India'}

In [45]:
del student["grade"]  # delete key and value pair
print(student)

{'name': 'Avinash', 'age': 33, 'address': 'India'}

##### Dictnaries method

In [52]:
keys =student.keys()  ##get all the keys
print(keys)
values =student.values() ##get all the values
print(values)

items = student.items()   ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Avinash', 33, 'India'])
dict_items([('name', 'Avinash'), ('age', 33), ('address', 'India')])

##### shallow copy

In [ ]:

student_copy =student
print(student)
print(student_copy)

{'name': 'Avinash', 'age': 33, 'address': 'India'}
{'name': 'Avinash', 'age': 33, 'address': 'India'}

In [55]:
student["name"] = 'Krish'
print(student)
print(student_copy)

{'name': 'Krish', 'age': 33, 'address': 'India'}
{'name': 'Krish', 'age': 33, 'address': 'India'}

In [58]:
student_copy1 =student.copy()  ## shallow copy
print(student_copy1)
print(student)

{'name': 'Krish', 'age': 33, 'address': 'India'}
{'name': 'Krish', 'age': 33, 'address': 'India'}

In [59]:
student["name"] ="avinash1"
print(student)
print(student_copy1)

{'name': 'avinash1', 'age': 33, 'address': 'India'}
{'name': 'Krish', 'age': 33, 'address': 'India'}

##### Iterating Over Dictionaries
- You can use loops to iterate over dictionatries, keys,values,or items

In [64]:
## Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [66]:
## Iterate over values
for value in student.values():
    print(value)

avinash1
33
India

In [67]:
## Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:avinash1
age:33
address:India

##### Nested Disctionaries

In [70]:
students={
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

##### Access nested dictionaries elementss

In [71]:
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

##### Iterating over nested dictionaries

In [77]:
students.items()

dict_items([('student1', {'name': 'Krish', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

In [78]:
for students_id,students_info in students.items():
    print(f"{students_id}: {students_info}")
    for key,value in students_info.items():
        print(f"{key} :{value}")

student1: {'name': 'Krish', 'age': 32}
name :Krish
age :32
student2: {'name': 'Peter', 'age': 35}
name :Peter
age :35

##### Dictionary comphrehension

In [82]:
squares ={x : x ** 2 for x in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [83]:
## Conditional dictionaries comprehension
evens ={x : x**2 for x in range(10) if x % 2==0}
evens

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [88]:
## Practical Examples

## USe a dictionary to count he frequency of elements in list

numbers=[1,2,2,3,3,3,3,3,4,4,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 5, 4: 6}

In [89]:
## Merge 2 dictinories into one
dict1= {"a":1,"b":2}
dict2 ={"b":3 ,"c":4}
merge_dict = {**dict1,**dict2}
print(merge_dict)

{'a': 1, 'b': 3, 'c': 4}